	
  <!-- start Footer -->
  <div id="footer" class="text-center">
    <div class="footer-cta"> Please free to contact me on Social Media
    </div>

    <div class="socials-media text-center">

      <ul class="list-unstyled">
        <li><a href="https://github.com/grace5l5/"><i class="ion-social-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/gracels/"><i class="ion-social-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/gracels"><i class="ion-social-facebook"></i></a></li>
        <li><a href="https://twitter.com/grace5l5"><i class="ion-social-twitter"></i></a></li>
      </ul>

    </div>
  </div>
  <!-- End footer -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/typed/typed.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>
